* {
    font-family: sans-serif;
    background-color: azure;
}

h1 {
    text-align: center;
    color: aquamarine;
}

h2 {
    color: darkcyan;
}

h3 {
    color: aqua;
}

h4 {
    color: blue;
}

h5 {
    color: red;
}